.dialogs{
  display:grid;
  grid-template-columns: 2fr 10fr;

  
}
.dialogItem {
  padding: 10px;
}
.dialogItem .active{
  color: gold;
}

.messages{
  padding: 10px;
}
.message{

}

.img{
  width: 50px;
  border-radius: 50%;
  padding: 10px;
}
.messagesData{
  padding-top: 10px;
  background-color: rgb(0, 179, 255);
}